streamlit
pymilvus
llama-index-core
llama-index-readers-file
llama-index-llms-groq
python-dotenv
transformers
sentence-transformers
torch
numpy
tiktoken
protobuf
grpcio
fastapi
uvicorn[standard]
python-multipart
websockets
